.title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 20px;
}

.description {
  font-size: 20px;
  margin: 0 0 30px;
  font-style: italic;
}

.licenseInfo {
  margin-top: 0;
  font-size: 14px;
}
